body {
    font-family: sans-serif;
    margin: 20px;
  }

  h1 {
    text-align: center;
  }

  #note-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }

  .note {
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #eee;
  }
